$primary : #009a01;
$cyellow : #fde74c;
$highlight: rgb(74, 219, 200);
$cred: #820000;
$cblue : #002473;
$primarydark : #0A5D00;
$secondary : #e1f0f7;
$secondarydark : #0C7A00;
$accent : #f5f6f8;
$lightfont : #555555;
$rover: #CC0025;
$scout:#3e7f2a;
$master:#114881;
$cub:#F9B710;
$all: #efefefef;
$herofont-lg: 56px;
$herofont-md: 32px;
$herofont-sm: 16px;
$infofont-lg: 28px;
$infofont-md: 20px;
$infofont-sm: 12px;
$testimonial-name-size-sm: 8px;
$testimonial-name-size-md: 12px;
$testimonial-name-size-lg: 18px;
$testimonial-title-sm: 12px;
$testimonial-title-md: 20px;
$testimonial-title-lg: 32px;
$facebook: #4267b2;
$twitter:#1a91da;
$youtube:#ff0000;